<div id='NBContainer'>
    <div id='NBTitleContainer'>
        <a routerLink='/home'>
            <span id='NBTitle1'>Henry's Food</span>
            <span id='NBTitle2'>Project</span>
        </a>
    </div>
    <div id='NBbuttons'>
        <a routerLink='/home'>
            <button id='NBHomeButton'>Home</button>
        </a>
        <a routerLink='/createRecipe'>
            <button id='NBCRecipeButton'>Create Recipe</button>
        </a>
    </div>
    <img id='NBIcon' src='../../../assets/img/sicon.png' alt="cornerIcon"/>
</div>
