<div id='LPContainer'>
    <div id='LPWindow'>
        <div id='LPHeader'>
            <span id='LPTitle1'>Henry's Food</span>
            <span id='LPTitle2'>Project</span>
        </div>
        <div id='LPBody'>
            <div id='LPDescription'>
                <p>Welcome to this amazing website, where you are going to be able to find
                    amazing recipes, filtered them by their diet type's and share your
                    own recipe with the community, just click the Home button!
                </p>
            </div>
            <a id='LPHomeButton' routerLink='/home'>Home</a>
        </div>
    </div>
</div>